html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

div#__next {
  padding-top: 60px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  width: 100%;
  height: 60px;

  top: 0px;
  transition: top 0.3s;

  &.nav-hide {
    top: -60px;
  }
}

:root {
  --card-width: min(100vw, 800px);
}

.preview,
div#post {
  width: var(--card-width);
  margin-left: auto;
  margin-right: auto;
}



@media (max-width: 500px) {
  .preview {
    font-size: 0.7rem;
  }
}

.preview {
  display: flex;
  height: calc((var(--card-width) - 20px) * 3 / 8);
  // font-size: calc(var(--card-width)/50);

  img {
    width: 50%;
    background-color: blue;
    height: 100%;
    object-fit: scale-down;
  }
  margin-top: 40px;
  margin-bottom: 40px;

  > div {
    margin-left: 20px;
    width: 50%;
    border-bottom: 1px dotted black;
  }

  div.title {
    font-size: 1.5em;
  }
}
