html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

div#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  --accent-color: #7e0000;
}

h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 500;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Lora", serif;
  &:hover {
    text-decoration: underline;
  }
}

:root {
  --card-width: 800px;
  font-size: 1.1rem;
  --gutter: 20px;
}

@media (max-width: 900px) {
  :root {
    --card-width: min(100%, 600px);
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 0.9rem;
    --gutter: 10px;
  }
}

@media (hover: hover) {
  div#__next {
    padding-top: 60px;
  }
  .nav {
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    &.nav-hide {
      top: -60px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  // box-shadow: 0 1px 6px 0 rgba(32, 3, 36, 0.28);
  border-bottom: lightgrey 1px solid;
  width: 100%;
  height: 60px;
  font-family: "Lora", serif;
  > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--card-width);
    margin-left: 10px;
    margin-right: 10px;
  }

  #home-link {
    img {
      height: 30px;
      margin-right: 10px;
    }
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }
}

.center-card {
  width: var(--card-width);
  margin-left: auto;
  margin-right: auto;
}

.preview {
  display: flex;
  height: calc((var(--card-width) - var(--gutter)) * 3 / 8);

  img {
    width: 50%;
    background-color: lightcyan;
    height: 100%;
    object-fit: scale-down;
    cursor: pointer;
  }
  margin-top: 20px;
  margin-bottom: 40px;

  > div {
    margin-left: var(--gutter);
    width: 50%;
    border-bottom: 1px dashed var(--accent-color);
    // border-bottom: 1px dashed grey;
  }

  div.blurb {
    color: grey;
  }

  div.title {
    font-size: 1.5em;
    font-weight: 500;
  }
}

#footer {
  margin-top: auto;
  height: 100px;
  width: 100%;
  border-top: 1px lightgrey solid;
  display: flex;
  align-items: center;
  justify-content: space-around;

  > div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  svg {
    fill: var(--accent-color);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .tooltiptext {
    display: none;
    font-size: 12px;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -40px;
  }
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip-visible {
    display: block;
  }
}

.double {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  img:first-of-type {
    width: 100%;
    margin-right: 10px;
  }

  figure {
    margin: 10px;
  }
}
